<div class="region fullscreen below">
    <div class="container" style="display: none;"></div>
</div>
<div class="region top bar">
    <div class="container" style="display: none;">
        <div id="module_1_updatenotification" class="module updatenotification updatenotification" style="transition: opacity 0s; opacity: 0; position: fixed;">
            <div class="module-content">
                <div></div>
            </div>
        </div>
    </div>
    <div class="region top left">
        <div class="container" style="display: block;">
            <div id="module_2_clock" class="module clock clock">
                <div class="module-content">
                    <div>
                        <div class="date normal medium">Saturday, May 12, 2018</div>
                        <div class="time bright large light">04:30<sup class="dimmed">28</sup></div>
                        <div class="week dimmed medium"></div>
                    </div>
                </div>
            </div>
            <div id="module_3_calendar" class="module calendar calendar">
                <header class="module-header">US Holidays</header>
                <div class="module-content">
                    <table class="small dimmed">Loading …</table>
                </div>
            </div>
        </div>
    </div>
    <div class="region top center">
        <div class="container" style="display: none;"></div>
    </div>
    <div class="region top right">
        <mirror-weather-container-index></mirror-weather-container-index>
    </div>
</div>
<div class="region upper third">
    <div class="container" style="display: none;"></div>
</div>
<div class="region middle center">
    <div class="container" style="display: none;"></div>
</div>
<div class="region lower third">
    <div class="container" style="display: block;"><br>
        <div id="module_4_compliments" class="module compliments compliments" style="transition: opacity 2s; opacity: 1; position: static;">
            <div class="module-content">
                <div class="thin xlarge bright">Good morning, handsome!</div>
            </div>
        </div>
    </div>
</div>
<div class="region bottom bar">
    <div class="container" style="display: block;">
        <div id="module_7_newsfeed" class="module newsfeed newsfeed">
            <div class="module-content">
                <div class="small dimmed">Loading …</div>
            </div>
        </div>
    </div>
    <div class="region bottom left">
        <div class="container" style="display: none;"></div>
    </div>
    <div class="region bottom center">
        <div class="container" style="display: none;"></div>
    </div>
    <div class="region bottom right">
        <div class="container" style="display: none;"></div>
    </div>
</div>
<div class="region fullscreen above">
    <div class="container" style="display: none;"></div>
</div>